



.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(90deg, #4f46e5, #3b82f6, #06b6d4); */
}
.login-right .logo {
  width: 120px;   
  height: auto;    
  margin-bottom: 15px;
}

.login-box {
  background: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 750px;
  max-width: 90%;
}


.login-left {
  flex: 1;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.login-right {
  flex: 1.2;
  padding: 40px;
  text-align: center;
}

.login-right h2 {
  margin-bottom: 20px;
  color: #111827;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 10px 15px;
  background: #f9f9f9;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 14px;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 14px;
}


.login-btn {
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  background: #22c55e;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #16a34a;
}


.login-extra {
  margin-top: 20px;
  font-size: 13px;
}

.login-extra a {
  color: #3b82f6;
  text-decoration: none;
}

.login-extra a:hover {
  text-decoration: underline;
}
