.sidebar {
  width: 250px;
  background: #cbd5e1;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: fit-content;
  margin-right: 25px;
  position: sticky;
  align-self: flex-start;
  top: 90px;
}

.sidebar h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #40b935;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  color: #005e2f;
  cursor: pointer;
  transition: color 0.2s ease;
}
.sidebar a {
  color: #166b2f;
  text-decoration: none; /* ✅ removes underline */
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.sidebar li:hover {
  color: #28a745;
}
