.kisan-home {
  text-align: center;
 
  background-color: #f7fbf7;
  min-height: 80vh;
}

.kisan-title {
  color: #1a5d1a;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* .gd-header {
  background: #ffffff;
  color: #1f8a38;
  padding: 15px 30px;
  border-bottom: 2px solid #e0e0e0;
}
.gd-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gd-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
} */

.kisan-subtitle {
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 700px;
  margin-inline: auto;
}

.kisan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  padding: 40px;
  justify-content: center;
  margin-top: 20px;
}

.kisan-card {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}

.kisan-card:hover {
  transform: translateY(-4px);
  border-color: #1a5d1a;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.kisan-icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.kisan-card h3 {
  color: #1a5d1a;
  font-size: 18px;
  margin-bottom: 8px;
}

.kisan-card p {
  font-size: 14px;
  color: #555;
}

.gd-header {
  position: sticky;       
  top: 0;                
  z-index: 1000;          
  background: #ffffff;
  color: #1f8a38;
  padding: 15px 30px;
  border-bottom: 2px solid #e0e0e0;
}