
.gd-header {
  background: #ffffff;
  color: #1f8a38;
  padding: 15px 30px;
  border-bottom: 2px solid #e0e0e0;
}
.gd-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gd-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-link {
   color: #15803d;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}


.shiksha-page {
  text-align: center;

  font-family: "Segoe UI", sans-serif;
  background: #f8fbf8;
}

.shiksha-title {
  color: #15803d;
  font-size: 28px;
  margin-top: 30px;
}

.shiksha-subtext {
  color: #374151;
  font-size: 16px;
  margin-bottom: 40px;
}

.shiksha-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 40px;
  justify-content: center;
  align-items: stretch;
}


.shiksha-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 24px 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000;
}

.shiksha-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.shiksha-card .icon {
  margin-bottom: 12px;
}

.shiksha-card h3 {
  color: #14532d;
  font-size: 18px;
  margin-bottom: 10px;
}

.shiksha-card ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  color: #166534;
  line-height: 1.6;
}

.shiksha-card li::before {
  content: "• ";
  color: #16a34a;
}

