.App {
  text-align: center;
}

.logo {
  width: 100px;
}

header {
  background-color: #f0faf5;
  padding: 20px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.service-card {
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.service-card .icon {
  width: 50px;
  height: 50px;
  background-color: #f0faf5;
  margin-bottom: 10px;
  border-radius: 50%;
}
/* Style for buttons with green color */
.btn {
  background-color: #01A800; /* Your specified color */
  color: #fff;              /* Text color */
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #008000; /* Darker shade for hover effect, optional */
}

/* Optional: Different style for outline button if you need */
.btn-outline {
  background-color: transparent;
  color: #01A800;
  border: 2px solid #01A800;
}

